<!DOCTYPE html>
<html lang="en"></html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>    
<body>
<main>
<div class="container text-center">
    <br>
    <h2>Brojanje reci u tekstu</h2>
    <form action="{% url 'wordcountout' %}">
        <label for="tekst">Unesi tekst:</label><br>
        <textarea id="tekst" name="tekst" rows="4" cols="50">         
        </textarea>
        <br><br>
        <input type="submit" value="Izbroj">
    </form>
</div>
</main>
<!-- <footer class="container">
    <p>&copy; Beograd, septembar 2022</p>
</footer> -->
</body>
</html>